$main-font-color-white: #ffffff;
$main-font-color-sub-white: #e3e3e3;
$main-font-color-black: #444444;
$main-font-color-sub-black: #666666;
$main-font-color-red: #ff4e50;
$main-font-family: "Montserrat";
$second-font-family: "Roboto";
